html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.validation-error{
  color: red
}

.user-table{
  height: 600px;
}

.user-table-head{
  position: sticky;
  top: 0;
}

.active-row{
  background: #cacbcb;
  transition: all linear .1s;
}